---
import AIAssistant from '../components/AIAssistant.astro';
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/aboutSection.astro';
import SkillsSection from '../components/skillsSection.astro';
import ExperienceSection from '../components/experienceSection.astro';
import ServicesSection from '../components/ServicesSection.astro';
import ProjectsSection from '../components/projectsSection.astro';

import ContactSection from '../components/contactSection.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Sufyan Liaqat - Full Stack Developer">
  
  <Navbar />
  
  <main>
    <HeroSection />
    <AboutSection />
    <SkillsSection />
    <ServicesSection />
    <ExperienceSection />
    <ProjectsSection />
    
    <ContactSection/>
  </main>
  
  <Footer />
  <AIAssistant />
  
</Layout>
